* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1024px;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(rgb(194, 23, 23), rgb(0, 0, 0));
    background-repeat: no-repeat;

}

header {
    border: 1px solid rgba(255, 0, 0, 0.418);
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 2px rgba(255, 0, 0, 0.493);
}

header h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    padding: 15px;

}

header h1 span {
    text-shadow: 2px 2px rgba(255, 0, 0, 0.171);
}

.header-bg {
    background: url(../images/bg-cut.jpg);
    padding: 15px;

}

aside {
    position: sticky;
    top: 0;
    left: 0;
    width: 150px;
    margin-top: 40px;
}

nav {
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}



nav ul li {
    padding-top: 15px;
    list-style: none;
}

nav ul {
    width: 150px;
    padding: 15px;
    background: rgba(255, 0, 0, 0.116);
    border: 2px solid rgba(255, 0, 0, 0.479);
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff000081;

}



nav ul a:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff000081;

    border-radius: 10px;
    padding: 5px;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

}

main {
    position: relative;
    width: 874px;
    right: -150px;
    top: -399px;
    height: 300px;
}


.container {
    position: relative;
    margin-left: 90px;
    margin-top: 200px;
}

.container a {
    text-decoration: none;
}

.container h2 {
    padding-top: 15px;
    color: aliceblue;
}

.container h3 {
    text-align: center;
    padding: 15px;
    color: rgb(0, 0, 0);
    border: 2px solid whitesmoke;
    border-radius: 50px;
}


.container p {
    color: aliceblue;
    padding-top: 20px;

}

.box {
    position: relative;
    background: rgba(245, 245, 245, 0.034);
    border: 2px solid rgba(255, 0, 0, 0.596);
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff000081;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    transition: 1s;
}

.box p {
    padding: 0px 10px;
}

.box img {
    margin-top: 30px;
    height: 150px;
    align-self: center;
    border-radius: 100%;
    box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.61);
    transition: 1s;
}

.logo {
    background-color: black;
    margin-top: 30px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-left: 50px;
    transition: 1s;
    box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.61);
}

.logo p {
    font-size: 20px;
    font-weight: bold;
    padding-top: 65px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0px 8px rgb(255, 0, 0);
}

.box2 {
    position: relative;
    top: -640px;
    justify-self: center;
    margin-left: 200px;
}

footer {
    background: black;
    padding: 20px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff000081;
}

.inter-container {
    position: relative;
    left: 150px;
    top: -199px;
    margin-left: 20px;
    width: 854px;
    text-align: center;
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff000081;
    background: rgba(245, 245, 245, 0.048);
}

.inter-container h3 {
    text-shadow: -2px -2px 8px rgba(0, 0, 0, 0.404);

    border-radius: 10px;
    color: aliceblue;
    padding: 15px;
    background: linear-gradient(rgb(34, 34, 34), rgba(0, 0, 0, 0.308));
    border: 2px solid red;
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff000081;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inter-content:hover {
    transform: scale(1.05);
}

.inter-container p {
    color: aliceblue;
    margin-top: 20px;
    text-align: center;
    text-shadow: -2px -2px 8px rgb(0, 0, 0);
    padding: 10px
}

.inter-content {
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff000081;

}

.focus-text {
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: -2px 0px 3px black;
    border: 2px solid;
    padding: 5px;
    border-color: red;
    border-radius: 10px;
}

.active {
    border: 2px solid rgba(255, 0, 0, 0.479);
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff00005d;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 2px;
}

.box:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff00005d;
    background-color: black;
}

.logo:hover {
    box-shadow: 1px 1px 20px 1px rgb(255, 0, 0);
    transform: rotate(360deg);
}

.box img:hover {
    transform: rotate(360deg);
    box-shadow: 1px 1px 20px 1px rgb(255, 0, 0);
}

.inter-content img {
    height: 400px;
    padding: 15px;
}

.inter-content .social {
    color: rgb(0, 0, 0);
    font-size: large;
    text-decoration: none;
    border: 2px solid red;
    box-shadow: 0px 0px 10px 0px red,
        0px 0px 10px 0px red, inset -2px 2px 20px 4px #ff000081;
    padding: 5px;
    margin-top: 5px;
    text-shadow: 1px 0px 5px rgba(255, 255, 255, 0.651);
}

.social {
    transition: 1s all;

}

.social:hover {
    color: red;
    background-color: black;
}